* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background-color: #5CDB95;
    min-height: 100vh;
}
.App-wrapper {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}